<<<<<<< HEAD
<div class="channel-list">
  <% @channels = [] %>
  <% @channels.each do |channel| %>
    <div class="channel-img"
          data-controller="channel-subscription"
          data-channel-subscription-channel-id-value="<%= channel.id %>">
      <%= link_to channel.name, channel_path(channel.id) %>
    </div>
  <% end %>
</div>
