<!-- Languages column -->
<div class="row chat-window"
  data-controller="issues-messages">
  <div class="col-1 border-right border-black lang-column d-flex justify-content-center pt-3">
    <div class="d-flex">
      <%= render "channels/index", channels: @channels, channel: @channel %>
    </div>
  </div>
  <!-- Issues list column -->
  <div class="col-3 issue-column">
      <div class="row mt-4 h-100">
        <%= render "issues/index" %>
        <!-- The active issue class will be assigned based on click - stimulus controller required, attach controller to list -->
      </div>
  </div>
  <!-- Issue messages column -->
  <div class="col-8 chat-message-column flex-grow-1"
        data-issues-messages-target="messages">
    <%= render "issues/show" %>
  </div>
</div>
