<!-- Languages column -->
<div class="row chat-window"
  data-controller="issues-messages">
  <div class="col-1 bg-dark p-3 border-right border-black d-flex justify-content-center lang-column">
    <div class="d-flex justify-content-center">
      <%= render "channels/index" %>
    </div>
  </div>
  <!-- Issues list column -->
  <div class="col-3 bg-light issue-column">
      <div class="row mt-2 h-100">
        <%= render "issues/index" %>
        <!-- The active issue class will be assigned based on click - stimulus controller required, attach controller to list -->
      </div>
  </div>
  <!-- Issue messages column -->
  <div class="col-8"
        data-issues-messages-target="messages">
    <%= render "issues/show" %>
  </div>
