<div class="issue-list">
  <% @channels.each do |channel| %>
    <div class="issue active"
          data-controller="channel-subscription"
          data-channel-subscription-channel-id-value="<%= channel.id %>">
      <%= link_to channel.name, channel_path(channel.id) %>
      <%# Stimulus action here %>
    </div>
  <% end %>
</div>
