
<div class="banner">
  <h1>Ask technical questions, get helpful answers</h1>
  <h2>* even after the bootcamp</h2>
</div>

<%# AI Stuff %>
<div class="container mt-5">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= render partial: "ai/request_form", locals: { uuid: @uuid } %>
  <%= turbo_stream_from "channel_#{@uuid}" %>
  <%# <div id="ai_output">
    <%= render partial: "ai/output", locals: { generated_idea: "" } %>
  </div>
</div>
<%# AI Stuff %>

<div class="container">
  <div class="row">
    <div class="card-grid">
      <div class="card-wide">
        <div class="header">Le Chariot</div>
        <div class="title">Le Chariot</div>
        <div class="content">
          Le Chariot, Le Chariot, Le Chariot, Le Chariot, Le Chariot
          </div>
          <div class="btn btn-primary">Button</div>
      </div>
      <div class="card-narrow-pink">
        <div class="header">Le Chariot</div>
        <div class="title">Le Chariot</div>
        <div class="content">
          Le Chariot, Le Chariot, Le Chariot, Le Chariot, Le Chariot
          </div>
          <div class="btn btn-primary">Button</div>
      </div>
      <div class="card-narrow-yellow">
        <div class="header">Le Chariot</div>
        <div class="title">Le Chariot</div>
        <div class="content">
          Le Chariot, Le Chariot, Le Chariot, Le Chariot, Le Chariot
          </div>
          <div class="btn btn-primary">Button</div>
      </div>
    </div>
  </div>
</div>
