.wide {
  background-color: #52F4D6;
}

.yellow {
  background-color: #E3ED45;
}

.pink {
  background-color: #F45270;
}

.pink .header {
  font-size: 0.7rem;
}

.pink .title {
  font-size: 2rem;
}

.pink .content {

}

.header {
  font-size: 0.7rem;
  font-weight: lighter;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.content {

}
