.dark-mode {
  .channel-list {
    background-color: #3c4043;
    border-right: solid 1px #5f6368;
  }
}

.channel-img {
  min-width: 30px;
  max-width: 50px;
  margin: 4px;
}

.dark-mode {
  .channel-img {
    background-color: #3c4043;
    border-right: solid 1px #5f6368;
    border: 1px solid #ddd;
  }
}

.channel-img.active {
  border: 1px solid $orange;
}

.channel-img:hover {
  transform: translate(0, -1px);
  cursor: pointer;
}
