.lang-column {
  max-width: 100px;
  padding: 0px;
  padding-left:12px;
  background-color: $gray;
}


.channel-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  opacity: 60%;
  filter: grayscale(50%);
  transition: all 0.05s ease-in-out;
  cursor: pointer;

  &.active {
    opacity: 100%;
    filter: grayscale(0%);
  }
}

.channel-img:hover {
  opacity: 100%;
  filter: grayscale(0%);
}

.channel-item-div {
  padding: 4px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.channel-item-div:hover {
  translate: (4px);

}

.dark-mode {
  .channel-item-div {
    background-color: #3c4043;
    border: 1px solid #5f6368;
  }
}
