.channel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dark-mode {
  .channel-list {
    background-color: #3c4043;
    border-right: solid 1px #5f6368;
  }
}

.channel-img {
  width: 70%;
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
}

.dark-mode {
  .channel-img {
    background-color: #3c4043;
    border-right: solid 1px #5f6368;
    border: 1px solid #ddd;
  }
}

.channel-img.active {
  border: 1px solid $orange;
}

.channel-img:hover {
  transform: translate(0, -2px);
  cursor: pointer;
}
