.issue-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88vh;
}

.dark-mode {
  .issue-list {
    background-color: #3c4043;
  }
}

.issue-column {
  padding: 10px;
}

.dark-mode {
  .issue-column {
    background-color: #3c4043;
  }
}

.issue-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

.dark-mode {
  .issue-column {
    background-color: #3c4043;
  }
}

.issue-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.issue {
  display: block;
  padding-left: 4px;
  padding-right: 7px;
  padding-bottom: 4px;
  padding-top: 4px;
  transition: 0.2s;
  color: $purple;
  font-size: 14px;
  margin-bottom: 1px;
  border: 1px solid #F2F2F2;
}

.issue a {
  text-decoration: none;
}

.dark-mode {
  .issue {
    background-color: #3c4043;
    border: 1px solid #3c4043;
    color: white;
  }

  .issue.active {
    background-color: #FDEEE6;
    border-radius: 4px;
    color: #333;
    border: 1px solid $primary;
  }
}

.issue.active {
  background-color: #FDEEE6;
  border-radius: 4px;
  color: #333;
  border: 1px solid $primary;
}

.issue:hover {
  background-color: #FDEEE6;
  border-radius: 4px;
  color: #333;
  border: 1px solid $primary;
}

.search-bar {
  margin-bottom: 20px;
}

.create-new {
  color: $blue;
  text-decoration: none;
}

.issue-top {
  padding-bottom: 4px;
}

.dark-mode {
  .issue-top {
    background-color: #3c4043;
  }
}

.issue-top h3 {
  padding-bottom: 2px;
}

.issue-title-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: $orange;
}

.fa-code {
  color: grey;
  font-size: 12px;
}

.search-icon {
  border: solid 1px $primary;
  border-radius: 3px;
  margin-left: 7px;
  background-color: none;
}


.accordion {
  background-color: black !important;
}
