.issue-list {
  overflow-y: scroll;
  padding: 10px;
  background-color: #f9f9f9;
}

.dark-mode {
  .issue-list {
    background-color: #3c4043;
    border-right: solid 1px #5f6368;
  }
}

.issue-column {
  overflow-y: scroll;
  padding: 10px;
}

.dark-mode {
  .issue-column {
    background-color: #3c4043;
    border-right: solid 1px #5f6368;
  }
}

.issue-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

.issue-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.issue {
  display: block;
  padding: 4px;
  transition: 0.2s;
  color: $purple;
}

.issue a {
  text-decoration: none;
}

.dark-mode {
  .issue {
    background-color: #3c4043;
    border-right: solid 1px #5f6368;
  }
}

.issue.active {
  background-color: rgba(98, 98, 98, 0.1);
  border-radius: 4px;
  font-weight: bold;
  color: #333;
}

.issue:hover {
  background-color: rgba(98, 98, 98, 0.1);
  cursor: pointer;
}
