.green-background {
  background-color: $green !important;
}

.dark-mode {
  .green-background {
    color: black;
  }
}


.grey-background {
  background-color: lightgray !important;
}

.useful-info {
  color: gray;
  font-size: 12px;
}
