body {
  background-color: #f2f2f2;
  height: 100vh;
}


.issue-suggestion {
  margin-bottom: 0px !important;
  font-size: 13px;
}

.message-list {
  overflow: scroll;
  margin-top: 10px;
}

.message {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}

.message-img {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.message-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message-content {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  border: solid 1px #dddddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.message-content:hover {
  background-color: #eeeeee;
}

.dark-mode {
  .message-content {
    border: solid 1px #5f6368;
    background-color: #3c4043;
  }
}

.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message-name {
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
}

.dark-mode {
  .message-name a {
    color: white;
  }

}

.message-name a {
  text-decoration: none;
  color: black;
}

.message-name a:hover {
  text-decoration: none;
  // color: $orange;
}

.message-time {
  font-size: 12px;
  color: #999;
}

.message-body {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
}

.message-content .message-actions {
  position: absolute;
  right: 10px;
  top: -24px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.message-actions .btn-primary {
  background-color: white;
  border: 1px solid $purple;
  color: $purple;
  margin: 2px;
  font-size: 12px;
  border-radius: 1px;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: $gray;
  line-height: 1;
}

.message-actions .btn-primary a {
  text-decoration: none;
}


.message-actions .btn-primary:hover {
  border-color: $purple;
  background-color: $purple;
  color: white;
}

.message-input {
  margin-right: 8px;
  margin-top: 8px;
  justify-self: flex-end;
}

.message-input-bar {
  margin-right: 16px;
}

.trix-button-group {
  background: white;
}

.message-input .trix-content {
  background: white;
}

.message-helpful {
  position: absolute;
  right: -12x;
  bottom: -12px;
  margin-top: 10px;
}

.message-helpful .btn {
  font-size: 12px;
  border-radius: 20px;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: transparent;
  color: #000;
  line-height: 1;
}

.message-helpful .btn-primary {
  background-color: $green;
  color: white;
}

.message-helpful .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: white;
}

.message-helpful .btn-secondary {
  background-color: white;
  border-color: #ccc;
  color: #555;
}

.message-helpful .btn-secondary:hover {
  background-color: #f9f9f9;
  border-color: #bbb;
  color: #555;
}

.message-top {
  border-bottom: 1px solid $orange;
}

.message-top p {
  margin-bottom: 12px;
}

.chat-message-column {
  background-color: $white;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.dark-mode {
  .chat-message-column {
    background-color: $gray;
  }
}

.related-code-block {
  // background-color: #212125;
  // color: white;
  // font-family: monospace;
  font-size: 14px;
  border-radius: 8px !important;
}

.empty-messages {
  font-size: 0.5rem;
}

.dark-mode {
  .message-input {
    // color: #3c4043 !important;
  }

  .message-input .trix-content {
    background-color: #171a21;
  }
}
